{% extends 'base.html.twig' %}

{% block title %}
	Register


{% endblock %}

{% block body %}
	<section class="vh-100">
		<div class="container py-5 h-100">
			<div class="row d-flex align-items-center justify-content-center h-100 fix">
				<div class="col-md-8 col-lg-7 col-xl-6">
					<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" alt="Phone image"></div>
				<div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
					<h1 class="text-6xl pt-12 pb-8">
						Register!

					</h1>
					{{ form_start(registrationForm) }}
					<div class="form-outline mb-4">
						{{ form_row(registrationForm.email) }}
					</div>
					<div class="form-outline mb-4">
						{{ form_row(registrationForm.plainPassword) }}
					</div>
					{{ form_row(registrationForm.agreeTerms) }}

					<button type="submit" class="btn btn-primary btn-lg btn-block">
						Register


					</button>

					{{ form_end(registrationForm) }}

				</div>
			</div>
		</div>
	</section>
{% endblock %}
